# Ignore bundler config.
/.bundle
config/database.yml

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
*~
*swp
*.log
*swp
pkg/
test/dummy/config/database.yml
test/dummy/tmp/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
tmp/
herram/
.byebug_history
coverage/
public/heb412/
test/dummy/public/heb412/generados/
test/dummy/archivos/anexos/
test/dummy/node_modules
test/dummy/public/cor1440/assets/
test/dummy/archivos/
test/dummy/public/
test/dummy/app/assets/builds
test/dummy/.env
test/dummy/app/javascript/controllers/msip
test/dummy/app/javascript/controllers/cor1440_gen
cobertura-unitarias
test/dummy/cobertura-sistema
