<div class='accordion' id='acordeon-caracterizacion'>
  <% nump = 1 %>
  <%= f.simple_fields_for :caracterizacionpersona, 
    f.object.caracterizacionpersona.where(
      'respuestafor_id IN (SELECT id FROM mr519_gen_respuestafor AS rf ' +
      'JOIN cor1440_gen_caracterizacionpf AS cpf ON ' +
      'rf.formulario_id=cpf.formulario_id JOIN ' +
      'cor1440_gen_beneficiariopf AS bpf ON ' +
      'bpf.proyectofinanciero_id=cpf.proyectofinanciero_id ' +
      'WHERE bpf.persona_id=?)', f.object.id
    ).order(:id) do |car| %>
    <%= item_acordeon_bs(
      "acordeon-caracterizacion", "caracterizacion#{nump}", 
      car.object.respuestafor.formulario.nombre + " - " + 
      Cor1440Gen::Proyectofinanciero.where(
        'id IN (SELECT proyectofinanciero_id '\
        'FROM cor1440_gen_caracterizacionpf '\
        'WHERE formulario_id=?)', car.object.respuestafor.formulario_id).
        pluck('nombre').join('; '), false, {
          'estilo_accordion-header': 'text-align: center',
          'clase_accordion-body': 'table-responsive',
          'estilo_accordion-body': 'overflow-x:scroll'
        }) do %>
        <%= car.simple_fields_for :respuestafor do |rf| %>
          <%= render partial: 'mr519_gen/encuestasusuario/campo_valorcampo', 
            locals: {f: rf} %>
        <% end %>
    <% end # item_acordeon_bs %>
    <% nump += 1 %>
  <% end # caracterizacionpersona%>
</div>
