<%= f.input :funcionresultado,
  as: :text,
  input_html: 
  { 
    class: 'cor1440_gen_funcion',
    'data-toogle' => 'tooltip',
    :title => 'Especifiquela o dejela en blanco si se especifica en las fuentes' 
  }
%>

<div id="cor1440_gen_mfun" class="cor1440_gen_menucontextual">
  <ul>
    <li><a id="actividades">Cuenta Actividades</a></li>
    <li><a id="poblacion">Cuenta Población</a></li>
    <li><a id="asistentes">Cuenta Asistentes</a></li>
    <li><a id="asistentesunicos">Cuenta Asistentes Únicos</a></li>
    <li><a id="organizaciones">Cuenta Organizaciones</a></li>
    <li><a id="organizacionesunicas">Cuenta Organizaciones Únicas</a></li>
  </ul>
</div>

