<% if registro %>
  <% pm = registro.pmindicador.order(:ffin) %>
  <% if pm.count > 0 %>
    <% v = "" %>
    <% c = "red" %>
    <% if pm.last.rind %>
      <% v = pm.last.rind.round(1) %>
      <% if pm.last.meta > 0 && (pm.last.rind/pm.last.meta) > 0.99 %>
        <% c = 'green' %>
      <% elsif pm.last.meta > 0  && (pm.last.rind/pm.last.meta) >= 0.6 %>
        <% c = 'orange' %>
      <% end %>
      <%= pm.last.ffin %> 
      <span style='color: <%= c %>'>
        <%= v %>
      </span>
    <% end %>
  <% end %>
<% end %>
