<div class="container">
  <div class="row filtro-fila">
    <div class="offset-sm-2 col-sm-4">
      <%= Cor1440Gen::Actividad.human_attribute_name( :proyectofinanciero) %>
    </div>
    <div class="col-sm-4">
      <%= f.input :busproyectofinanciero_id,
        collection: @contar_pf,
        label_method: :nombre,
        value_method: :id,
        label: false,
        include_blank: 'Elija uno',
        selected: @contar_pfid,
        input_html: { 
          "data-enviarautomatico" => "",
          class: 'chosen-select' 
        }
      %>
    </div>
  </div> <!-- row -->

</div>

