<%= turbo_frame_tag "anexo_proyectofinanciero_#{f.index}" do %>
  <div class='control-group nested-fields'>
    <div class="controls">
      <%  f.object.anexo = Msip::Anexo.new if !f.object.anexo %>

      <%= f.simple_fields_for :anexo, html: {multipart: true} do |a| %>
        <%= render 'msip/anexos/anexo_campos', a: a %>
      <% end %>

      <%= f.submit "Eliminar", 
        class: 'btn btn-sm btn-danger',
        data: { 
          disable_with: false
        },
        formaction: cor1440_gen.eliminar_anexo_proyectofinanciero_path(
          id: f.object.id, index: f.index
        ),
        formmethod: :delete,
        formnovalidate: true %>
    </div>
  </div>
<% end %>
