<%= turbo_frame_tag "proyectofinanciero_usuario_#{f.index}", 
  class: 'div-tabla-fila nested-fields' do %>
  <div class="div-tabla-celda">
    <% col = Msip::ModeloHelper.opciones_tabla_basica(::Usuario, f, :usuario) %>
    <%= f.association :usuario,
      collection: col,
      label: false,
      label_method: lambda { |n| n.nombre.to_s },
      value_method: :id,
      include_blank: "POR CONTRATAR",
      input_html: { class: 'tom-select' } %>
  </div>
  <div class="div-tabla-celda">
    <%= f.input :id, as: :hidden %>
    <%= f.submit "Eliminar",
      class: 'btn btn-sm btn-danger',
      data: {
        turbo_frame: "proyectofinanciero_usuario_#{f.index}",
        disable_with: false
      },
      formaction: cor1440_gen.eliminar_proyectofinanciero_usuario_path(
        id: f.object.id, index: f.index
      ),
      formmethod: :delete,
      formnovalidate: true   %>
  </div>
<% end %>
