<table class="tablalistadoasistencia table table-bordered table-sm ">
  <thead class="thead-light">
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th colspan="2">Identificación</th>
      <th>Sexo</th>
      <th>Año nac.</th>
      <th>Mes</th>
      <th>Dia</th>
      <th>Org. social</th>
      <th>Perfil</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="asistencia">
    <%= f.simple_fields_for :asistencia do |a| %>
      <%= render 'asistencia_campos', f: a %>
    <% end %>
  </tbody>
</table>
<div class="links">
  <%= link_to_add_association 'Añadir Asistente', f, 
    :asistencia,
    :"data-association-insertion-node" => "tbody#asistencia", 
    :"data-association-insertion-method" => "append", 
    partial: 'asistencia_campos',
    :class => 'btn-primary'
  %>
</div>
