<div class="div-tabla-celda">
  <%= fasistencia.association :orgsocial,
    collection: Msip::Orgsocial.all,
    label_method: :presenta_nombre,
    value_method: :id,
    label: false,
    input_html: { style: 'width: 6em' } %>
</div>
<div class="div-tabla-celda">
  <%= fasistencia.association :perfilorgsocial,
    collection: Msip::Perfilorgsocial.habilitados,
    label_method: :nombre,
    value_method: :id,
    input_html: { style: 'width: 6em' },
    label: false
  %>
</div>

