<td>
  <%= fasistencia.association :orgsocial,
    collection: Sip::Orgsocial.all,
    label_method: :presenta_nombre,
    value_method: :id,
    label: false,
    input_html: { style: 'width: 6em' } %>
</td>
<td>
  <%= fasistencia.association :perfilorgsocial,
    collection: Sip::Perfilorgsocial.habilitados,
    label_method: :nombre,
    value_method: :id,
    input_html: { style: 'width: 6em' },
    label: false
  %>
</td>

