<div class="accordion" id="camposdinamicos">
  <%= f.simple_fields_for :respuestafor, f.object.respuestafor.order(:id) do |r| %>
    <%= item_acordeon_bs(
      'camposdinamicos', "f#{r.object.formulario.id.to_s}", 
      r.object.formulario.nombre, false, {
        'estilo_accordion-header': 'text-align: center',
        'clase_accordion-body': 'table-responsive',
        'estilo_accordion-body': 'overflow-x:scroll'
      }) do %>
      <%= render 'asistencia_cuerpo_panel', f: f %>
      <%= render partial: 'mr519_gen/encuestasusuario/campo_valorcampo', 
        locals: {f: r} 
      %>
  <% end # :item_acorden_bs %>
<% end # :respuestafor %>
</div>
