<div class='accordion' id="acordeon_secanexos">
  <%= item_acordeon_bs(
    'acordeon_secanexos', 'secanexos', 
    'Medios de Verificación / Anexos', false, {
      'estilo_accordion-header' => 'text-align: center',
      'estilo_accordion-body' => 'anexos-div anexosdiv'
    })  do %>
    <%= f.simple_fields_for :actividad_sip_anexo do |a| %>
      <%= render 'actividad_sip_anexo_fields', :f => a %>
    <% end %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'Añadir Anexo', f, 
      :actividad_sip_anexo, :class => 'btn-primary' 
    %>
  </div>
</div> <!-- accordion -->
