<input id='actividad_id' type='hidden' value='<%= f.object.id %>' %>
<div class="accordion" id="acordeon-listadoasistencia">
  <%= item_acordeon_bs(
    'acordeon-listadoasistencia', 'listadoasistencia', 
    'Listado de asistencia', false, {
      'estilo_accordion-header': 'text-align: center',
      'clase_accordion-body': 'table-responsive',
      'estilo_accordion-body': 'overflow-x:scroll'
    }) do %>
    <%= render 'asistencia_cuerpo_panel', f: f %>
  <% end %>
</div> <!-- accordion -->
