<div class="panel panel-default">
  <div id="acordeon_listadoasistencia">
    <div class="card">
      <div class="card-header" id="listadoasistencia">
        <h6 class="mb-0" style='text-align: center'>
          <a class="collapsed" data-toggle="collapse" data-target="#colapsa_listadoasistencia" aria-expanded= "false" aria-controls="colapsa_listadoasistencia">
            Listado de asistencia
          </a>
        </h6>
      </div>
      <div id="colapsa_listadoasistencia" class="collapse" aria-labelledby="encabezado_listadoasistencia" data-parent="#acordeon_listadoasistencia">
        <div class="card-body">
          <div class="panel-body table-responsive" style="overflow-x:scroll;">
            <%= render 'asistencia_cuerpo_panel', f: f %>
          </div> <!-- panel-body -->
        </div> <!-- card-body-->
      </div> <!-- colapsa-listadoasistencia-->
    </div> <!-- card -->
  </div> <!-- acordeon_listadoasistencia -->
</div> <!-- panel -->
