<% oppres = [['', '']] %>
<% oppres += @plantillas if @plantillas %>
<div class="row">
  <div class="col-sm-4">
    <%= will_paginate @actividades, { param_name: :pagina }  %>
  </div>
  <div class="col-sm-2">
    <%= link_to t('.new', :default => 'Nueva'),
      cor1440_gen.new_actividad_path,
      :class => 'btn btn-primary' 
    %>
  </div>
  <div class="col-sm-offset-1 col-sm-3">
    <%= f.input :disgenera,
      collection: oppres,
      label: false,
      include_blank: false
    %>
  </div>
  <div class="col-sm-2">
      <%= link_to t('Llenar y generar'), 
        '#',
        class: 'btn', 
        onclick: 'heb412_gen_completa_generarp(this, \'#filtro_disgenera\',
        \'/actividades/filtro\', \'actividades\')' %>
  </div>
</div>

