<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.association :aslegal,
			collection: Cor1440Gen::Aslegal.habilitados,
	    label: "Asistencia Legal",
      label_method: :nombre,
	    value_method: :id %>
    <%= f.input :detalleal, label: "Carácter" %>
    <%= link_to_remove_association "Eliminar Asistencia Legal", f, 
        :class => 'btn-danger' %> 
  </div>
</div>
