<article>
<h1>Acerca de</h1>
<p>cor1440_gen es un Sistema para planeación y seguimiento de actividades en una ONG.</p>
<p>Este sistema de información de
<a href="http://www.pasosdeJesus.org/dominio_publico_colombia.html" target="_blank">dominio público de acuerdo a la legislación Colombiana</a>, 
ha sido desarrollado por 
<a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>.
</p>
<p>
Agradecemos a <a href='http://anzorc.com' target='_blank'>ANZORC</a>, 
<a href="http://www.sjrlac.org" target="_blank">JRS LAC</a>, 
<a href='https://jrs.net/en/country/colombia/' target='_blank'>JRS-Colombia</a>,
<a href='https://cinep.org.co/' target='_blank'>CINEP</a>
y al <a href="http://www.nocheyniebla.org" target="_blank">Banco de Datos de DH y DIH</a> 
la financiación para personalizaciones a sistemas de dominio público que se basan en este motor.
</p>
</article>
