<%= f.input :id, as: :hidden %>
<div class="panel panel-default">
  <div class="panel-heading">Campos por agregar</div>
  <div class="panel-body">

    <div class="div-campostind">
      <table border=1 width="100%">
        <thead>
          <tr>
            <th width="25%">Nombre Campo</th>
            <th>Ayuda en el uso</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="campostind">
          <%= f.simple_fields_for :campotind, f.object.campotind.order(:id) do |o| %>
            <%= render 'campotind_campos', f:  o %>
          <% end %>
        </tbody>
      </table>
      <div class="links">
        <%= link_to_add_association 'Agregar campo', f, :campotind, {
          :"data-association-insertion-node" => "tbody#campostind", 
          :"data-association-insertion-method" => "append", 
          partial: 'campotind_campos',
          class: 'btn-primary', 
          "data-ajax" => cor1440_gen.new_campotind_url,
          "data-ajaxdata" => "tipoindicador_id" } %>
      </div> <!-- links -->
    </div> <!-- .div-campostind -->
  </div><!-- panel-body -->
</div><!-- panel -->
